@import "style.css";

.header1 {
	font-family: "Unbounded", monospace;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 25px;
	color: #26252a;
	letter-spacing: 0.04em;
	text-align: left;
	min-width: 260px;
	margin: 110px 102px 20px 55px;
	padding: 0;
}

.bckgrnd_top_icon {
	margin-left: 9px;
	margin-bottom: 23px;
	padding: 0;
}

.bckgrnd_bot_icon {
	margin-top: 45px;
	margin-left: 115px;
	padding: 0;
	height: 52px;
	width: 52px;
}

.line {
	border-top: 1px solid #26252a;
	width: 350px;
	margin: 0 20px 0 20px;
	transition: all 0.3s cubic-bezier(0.93, 0.1, 0.42, 0.91);

}

.item_wraper {
	margin: 0 20px 0 20px;
	padding: 10px 0 10px 0;
	width: 350px;
	height: 40px;
	display: grid;
	grid-template-columns: auto 50px;
	grid-template-rows: 40px;
	justify-items: center;
}

.item_wraper:hover .arrow {
	border-radius: 0;
	border-width: 2px;
}

.item_label {
	font-family: "Overpass Mono", monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	align-self: center;
	justify-self: start;
	margin-left: 36px;
	padding: 0;
	color: #26252a;
}

.item_label:link {
	text-decoration: none;
}

.item_label:visited {
	text-decoration: none;
}

.arrow {
	align-self: center;
	justify-self: end;
	width: 35px;
	height: 35px;
	margin-right: 36px;
	padding: 0;
	border-color: #26252a;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	display: grid;
	place-items: center;

	transition: all 0.15s cubic-bezier(0.93, 0.1, 0.42, 0.91);
}

.pink {
	background-color: #ff8afa;
}

.green {
	background-color: #a9ff8a;
}
