/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/

/* Remove arrows in digit inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Overpass Mono", monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #26252a;
	/* color: var(--tg-theme-text-color); */
	/* background: var(--tg-theme-bg-color); */
	background: white;
	/* background: #b3b0c0; */
	max-width: 390px;
	overscroll-behavior: none;
}

.img_top {
	position: absolute;
	top: 36px;
	left: 308px;
	width: 56px;
	height: 56px;
}

.scrollable_area {
	display: block;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}


.scrollable_element {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
}

.cost_bckground {
	position: relative;
	top: -53px;
	left: -7px;
	width: 264px;
	height: 149px;

	background-color: #ff8afa;
	border-radius: 0 70px 70px 0;

	transition: all 0.3s cubic-bezier(0.93, 0.1, 0.42, 0.91);
}

.cost_output {
	position: relative;
	top: 83px;
	left: 62px;

	box-sizing: border-box;
	width: 230px;
	height: 50px;

	padding: 10px 10px 10px 0;

	background-color: #4657EF;
	color: #FFFFFF;
	border: 3px solid #26252A;

	border-radius: 10px;
	font-family: "Play", monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
	letter-spacing: 0.04em;
	text-align: right;

	transition: all 0.3s cubic-bezier(0.93, 0.1, 0.42, 0.91);
}

.el-fixed .scrollable_element {
	position: fixed;
	top: 0;
	left: 0;
}

.el-fixed .cost_bckground {
	top: 18px;
	width: 160px;
	height: 70px;
	left: -4px;
	border-radius: 0 70px 70px 0;
	border: 2px solid #26252A;
}

.el-fixed .cost_output {
	width: 122px;
	height: 50px;
	transform: translate(-55px, -70px);
}

.header1 {
	font-family: "Unbounded", monospace;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 25px;
	color: #26252a;
	letter-spacing: 0.04em;
	text-align: left;
	min-width: 260px;
	margin: 110px 102px 20px 55px;
	padding: 0;
}

/* .header2 { */
/* 	font-family: "Overpass Mono", monospace; */
/* 	font-style: normal; */
/* 	font-weight: 700; */
/* 	font-size: 16px; */
/* 	color: #ffffff; */
/* } */

/* .header3 { */
/* 	font-family: "Overpass Mono", monospace; */
/* 	font-style: normal; */
/* 	font-weight: 700; */
/* 	font-size: 16px; */
/* 	color: #ffffff; */
/* } */


.cost:after {
	content: " руб";
}

/* .label { */
/* 	font-family: "Overpass Mono", monospace; */
/* 	font-style: normal; */
/* 	font-weight: 700; */
/* 	font-size: 16px; */
/* 	color: #ffffff; */
/* } */


.content_new {
	background-color: #26252a;
	display: inline-block;
}


/* Accordion */

/* Basic rules */
.accordion {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.accordion_item {
	position: relative;
	max-width: 390px;
}

.accordion_item > input[type="checkbox"] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/* Label basic condition */
.accordion_trigger {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	/* margin: 0px 20px 0px 20px; */
	margin: 0;
	padding: 18px 0 18px 56px;
	cursor: pointer;
	position: relative;
}

/* Label checked condition*/
input[class="accordion_checkbox"]:checked ~ .accordion_trigger {
	color: #4657EF;
}

/* Favicon basic condition */
.accordion_trigger::after {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 56px;
	top: 50%;
	margin-top: -10px;
	/* transition: 0.3s; */
	transition: all 0.3s cubic-bezier(0.93, 0.1, 0.42, 0.91);

	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("src/accordion_folded.svg");
}

/* Favicon checked condition*/
input[class="accordion_checkbox"]:checked ~ .accordion_trigger::after {
	transform: rotate(180deg);
	background-image: url("src/accordion_unfolded.svg");
}

/* Content basic condition */
.accordion_content {
	background-color: #26252a;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

/* Content unfolded condition*/
input[class="accordion_checkbox"]:checked ~ .accordion_content {
	max-height: 2500px;
	-webkit-transition: 4s;
	-o-transition: 4s;
	transition: 4s;
}


/* Line divider */
.line {
	border-top: 1px solid #26252a;
	width: 350px;
	margin: 0 20px 0 20px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

/* Line divider accordion checkbox checked */
input[class="accordion_checkbox"]:checked ~ .line {
	display: none;
}


/* Grids */
.content_grid1 {
	display: grid;
	grid-template-columns: auto 70px;
	grid-template-rows: 36px;
	margin: 30px 57px 30px 57px;
	column-gap: 42px;
	align-items: center;
}

.content_grid2 {
	display: grid;
	grid-template-columns: auto 70px;
	grid-template-rows: 38px 30px 30px;
	margin: 0 57px 0 57px;
	gap: 20px 42px;
	align-items: center;
}

.content_grid3 {
	display: grid;
	grid-template-columns: auto 70px;
	grid-template-rows: 36px;
	margin: 36px 57px 29px 57px;
	gap: 16px 25px;
	align-items: center;
}

.content_grid4 {
	display: grid;
	grid-template-columns: auto 70px;
	grid-template-rows: 36px;
	margin: 30px 57px 20px 57px;
	gap: 16px 32px;
	align-items: center;
}

.content_grid4 div[class="content_label2"] {
	color: #26252a;
}

.content_grid2 div:nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.content_grid3 p {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.content_label1 {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 3px;
}

.content_label2 {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
}

.content_label3 {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #c0e1ff;
}

.content_label4 {
	font-weight: 400;
	font-size: 10px;
	line-height: 13px;
	color: #c0e1ff;
}

div[class*="content_label"] {
	font-family: "Overpass Mono", monospace;
	font-style: normal;
	color: #ffffff;
}

p[class="content_label2"] {
	color: #FF8AFA;;
	margin: 0;
	padding: 0;
}

.input_number {
	width: 70px;
	height: 30px;
	box-sizing: border-box;
	background-color: #37353c;
	border: 1px solid #4657ef;
	border-radius: 20px;
	font-family: "Play", monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.04em;
	color: #ffffff;
	margin: 0;
	text-align: right;
	justify-self: right;
	padding: 0 10px 0 0;
	transition: all 0.3s cubic-bezier(0.93, 0.1, 0.42, 0.91);
}

.input_number:focus {
	outline: none;
	border-width: 2px;
	border-radius: 0;
}

.content_grid4 input[class="input_number"] {
	background-color: #c0e1ff;
	color: #26252a;
	border: 1px solid #26252a;
}

.content_grid4 input[class="input_number"]:focus {
	outline: none;
	border-width: 2px;
	border-radius: 0;
}

.input_text {
	display: inline;
	position: relative;
	right: 118px;
	width: 188px;
	height: 31px;
	box-sizing: border-box;
	background-color: #c0e1ff;
	border: 1px solid #26252a;
	border-radius: 20px;
	font-family: "Play", monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.04em;
	text-align: right;
	padding-right: 10px;
	transition: all 0.3s cubic-bezier(0.93, 0.1, 0.42, 0.91);

	/* align-self: end; */
}

.input_text:focus {
	outline: none;
	border: 2px solid #26252a;
	border-radius: 0;
}


/* Adaptations (with checkbox) block basics */
.adapt_checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/* Label */
.adapt_checkbox + .content_label2 {
	cursor: pointer;
	display: grid;
	grid-template-columns: 20px 190px;
	grid-template-rows: 36px;
	gap: 16px;
	margin: 30px 107px 30px 57px;
	align-items: center;
	justify-content: center;
	/* align-items: center; */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Custom checkbox unchecked */
.adapt_checkbox + .content_label2::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	flex-grow: 0;
	transition: 0.3s;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('/src/checkbox_unchecked.svg');
}

/* Custom checkbox checked */
.adapt_checkbox:checked + .content_label2::before {
	background-image: url('/src/checkbox_checked.svg');
}

/* Custom checkbox hover */
.content_label2:hover::before {
	background-image: url('src/checkbox_focused.svg');
}


.grid_buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: none;
	margin: 30px 0 30px 0;
}

.btn {
	display: inline-block;
	color: #26252a;
	border: 1px solid #26252a;
	border-radius: 20px;
	font-family: "Overpass Mono", monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;

	/* transition: all 0.3s cubic-bezier(0.93, 0.1, 0.42, 0.91); */
	transition: 0.5s;
}

#back {
	justify-self: left;
	margin-left: 72px;
	background: #FFFFFF;
	width: 102px;
	height: 45px;
}

#order {
	justify-self: right;
	margin-right: 57px;
	background: #FEDD4A;
	width: 139px;
	height: 45px;
}

/* .btn:focus { */
/* 	border-radius: 0px; */
/* 	border-width: 2px; */
/* } */

.btn:hover {
	box-sizing: border-box;
	border: 2px solid #26252a;
	border-radius: 0;
}

#order:active {
	background: #26252a;
	color: #FEDD4A;
	box-sizing: border-box;
	border: 2px solid #26252a;
	border-radius: 0;
}

#back:active {
	background: #26252a;
	color: #FFFFFF;
	box-sizing: border-box;
	border: 2px solid #26252a;
	border-radius: 0;
	width: 102px;
	height: 45px;
}

/* "Clear all" button */
.clear_all_container {
	background: #26252a;
	display: inline-block;
}

.clear_all_btn {
	display: grid;
	margin: 20px 104px 19px 106px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 20px;
	align-items: center;
}

.clear_all_btn_icon {
	justify-self: left;
	/* height: 20px; */
	/* width: 16px; */
	fill: #CDCDCD;
}

.clear_all_label {
	height: 20px;
	width: 148px;
	justify-self: right;
	color: #CDCDCD;
}

.clear_all_btn:hover svg path {
	fill: #C0E1FF;
}

.clear_all_btn:hover .clear_all_label {
	color: #C0E1FF;
}

/* ------------------------------------ */

.bckgrnd_top_icon {
	margin-left: 9px;
	margin-bottom: 23px;
	padding: 0;
}

.bckgrnd_bot_icon {
	margin-top: 45px;
	margin-left: 115px;
	padding: 0;
	height: 52px;
	width: 52px;
}


.item_wraper {
	margin: 0 20px 0 20px;
	padding: 10px 0 10px 0;
	width: 350px;
	height: 40px;
	display: grid;
	grid-template-columns: auto 50px;
	grid-template-rows: 40px;
	justify-items: center;
}

.item_wraper:hover div[class*="arrow"] {
	border-radius: 0;
	border-width: 2px;
}

.item_label {
	font-family: "Overpass Mono", monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	align-self: center;
	justify-self: start;
	margin-left: 36px;
	padding: 0;
	color: #26252a;
}

.item_label:link {
	text-decoration: none;
}

.item_label:visited {
	text-decoration: none;
}

div[class*="arrow"] {
	align-self: center;
	justify-self: end;
	width: 35px;
	height: 35px;
	margin-right: 36px;
	padding: 0;
	border-color: #26252a;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	display: grid;
	place-items: center;

	transition: all 0.3s cubic-bezier(0.93, 0.1, 0.42, 0.91);
}

.arrow_pink {
	background-color: #ff8afa;
}

.arrow_green {
	background-color: #a9ff8a;
}
