body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	/* color: var(--tg-theme-text-color); */
	/* background: var(--tg-theme-bg-color); */
	color: black;
	background: white;
	max-width: 390px;
}


.header1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 18px;
	text-align: center;
}

.header2, .accordion_header {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	text-align: center;
}

.header3 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
	text-align: center;
	font-weight: 500;
}

.cost {
	padding: 10px;
	margin: 3px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 35px;
	text-align: right;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
}

.label {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	text-align: center;
	word-wrap: break-word;
}



.accordion {
	margin: 20px;
}

div[class*=content] {
	padding: 10px 3px 10px 3px;
	box-shadow: 2px 3px 5px black;
	border-radius: 20px;

}

.content_new {
	background-color: #D5E8D4;
}

.content_exist {
	background-color: #F8CECC;
}

.content_other {
	background-color: #FFF2CC;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: max-content;
}

.grid_buttons {
	margin: 10px;
	padding: 5px;
	display: grid;
	grid-template-columns: 37% 63%;
	grid-template-rows: max-content;
}

.input_block {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 2;
}

.input_number {
	width: 130px;
	height: 40px;
	border-width: 1px;
	border-radius: 10px;
	font-family: inherit;
	
}

/* убираем стрелки в инпутах */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.input_number:focus {
	outline: 2px solid aqua;
}
/* ----------------------------------- */



.adapt_checkbox {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: max-content;
	position: relative;
	top: 20px;
}

input[type=checkbox]:focus {
	outline: none;
	border-style: solid; 
	border-width: 1px;
	border-radius: 2px;
	border-color: aqua;
}

/* 
.img {
	width: 50px;
} */

/* .item {
	text-align: center;
} */

.btn {
	display: inline-block;
	padding: 10px 20px;
	margin: 10px;
	border: none;
	/* background: rgb(248, 168, 24); */
	border-radius: 10px;
	/* color: #fff; */
	text-transform: uppercase;
	font-weight: 700;

	transition: background .2s linear;
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/